.card {
  display: flex;
  flex-direction: column;
  max-width: 17.5rem;
  height: 10.5rem;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  background: url("../../../../public/cardBackground.png");
  background-repeat: no-repeat;
  background-size: cover;

  border: 0.0625rem solid var(--gray-700);
  box-shadow: 0rem 0.25rem 1.5rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;

  animation: flipCard 1s ease-in-out;
}

.headerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.visa {
  display: initial;
}

.mastercard {
  display: initial;
}

.elo {
  display: initial;
}

.automaticNumberCard {
  background: transparent;
  border: transparent;

  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;

  text-align: center;
  margin-bottom: 1.5rem;

  color: var(--gray-50);
}

.footerCard {
  display: flex;
  flex-direction: row;
}

.automaticName,
.automaticExpiration {
  background: transparent;
  border: transparent;
  color: var(--gray-50);

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;

  text-decoration: none;
}

.automaticName {
  width: 25rem;
}

.automaticExpiration {
  width: 3.5625rem;
}

@keyframes flipCard {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media only screen and (max-width: 450px) {
  .card {
    width: 14.5rem;
  }
}
