.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--general-background);
  height: 100vh;
}

.main label {
  margin-bottom: 0.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-800);
  border: 0.0625rem solid var(--gray-700);
  border-radius: 0.5rem;

  padding: 2rem;

  gap: 3rem;
}

.cardInformation {
  display: flex;
  flex-direction: row;
}

.informationInputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 15.75rem;
  color: var(--gray-200);
}

.informationInputs input {
  width: 100%;
  background-color: var(--gray-900);
  height: 3rem;
  border-radius: 0.25rem;
  border: transparent;
}

.cardInformation input:hover {
  border: 0.094rem solid var(--brand-color);
}

.cardNumber {
  display: flex;
  flex-direction: column;
}

.holderName {
  display: flex;
  flex-direction: column;
}

.expirationCvv {
  display: flex;
  gap: 1rem;
}

.expirationDate {
  display: flex;
  flex-direction: column;
}

.cvv {
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  margin-top: 1.25rem;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 17.5rem;
  height: 10.5rem;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  background: url("../../public/cardBackground.png");
  background-repeat: no-repeat;
  background-size: cover;

  border: 0.0625rem solid var(--gray-700);
  box-shadow: 0rem 0.25rem 1.5rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.headerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.automaticNumberCard {
  background: transparent;
  border: transparent;

  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;

  text-align: center;
  margin-bottom: 1.5rem;

  color: var(--gray-50);
}

.footerCard {
  display: flex;
  flex-direction: row;
}

.automaticName,
.automaticExpiration {
  background: transparent;
  border: transparent;
  color: var(--gray-50);

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;

  text-decoration: none;
}

.automaticName {
  width: 25rem;
}

.automaticExpiration {
  width: 3.5625rem;
}

.securityShield {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--gray-50);
}

.addButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  gap: 0.5rem;

  width: 42rem;
  height: 3.5rem;

  background: var(--brand-color);
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  border: transparent;

  color: var(--gray-50);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;

  cursor: pointer;
}

.addButton:hover {
  background: var(--brand-color-light);
}

@media only screen and (max-width: 850px) {
  .cardInformation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.875rem;
  }
  .rightSide {
    margin: 0;
  }
  .addButton {
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    padding: 0.625rem;
  }
  .card {
    width: 14.5rem;
  }
}
