.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--general-background);
  height: 100vh;
}

.main label {
  margin-bottom: 0.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-800);
  border: 0.0625rem solid var(--gray-700);
  border-radius: 0.5rem;

  padding: 2rem;

  gap: 3rem;
}

.cardInformation {
  display: flex;
  flex-direction: row;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  margin-top: 1.25rem;
  gap: 2rem;
}

.securityShield {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--gray-50);
}

@media only screen and (max-width: 850px) {
  .cardInformation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.875rem;
  }
  .rightSide {
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    padding: 0.625rem;
  }
}
