.addButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  gap: 0.5rem;

  width: 42rem;
  height: 3.5rem;

  background: var(--brand-color);
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  border: transparent;

  cursor: pointer;
}

.addButton:disabled {
  opacity: 0.5;
  cursor: auto;
}

.pButton {
  display: initial;
  color: var(--gray-50);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.addButton:hover {
  background: var(--brand-color-light);
}

.imgLoading {
  background-position: center;
  background-repeat: no-repeat;

  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: 5s;
  animation-timing-function: initial;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 850px) {
  .addButton {
    width: auto;
  }
}
